table, th, td {
    border: 1px solid #888;
    border-collapse: collapse;
}

th, td {
    padding: .5em;
}

td:first-child {
    text-align: right;
    padding-left: 1em;
}
td ul {
    margin: 0;
    padding-left: 20px;
}

html {
    background: #eee;
}

body {
    background: #fff;
    max-width: 50em;
    margin: 0 auto;
    padding: 2em 5em;
}

@media screen and (max-width: 40em) {
    body {
        padding: 1em;
    }
}

.table-wrapper {
    overflow-x: auto;
}